@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*,
button,
input {
  font-family: -apple-system, Ubuntu, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 28px 15px 24px;

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      margin-right: 20px;

      li {
        padding-left: 16px;

        a {
          text-decoration: none;
          font-size: 16px;
          color: $black;
          font-weight: 700;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    button {
      font-size: 16px;
      font-weight: 700;
      padding: 11px 12px;
      border-radius: 24px;
      border: none;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: filter 0.2s linear;

      &:hover {
        filter: brightness(90%);
      }

      &.login {
        background: $red;
        color: $white;
      }

      &.signup {
        background: $gray-light;
      }
    }

    button.signup {
      margin-left: 10px;
    }
  }
}

.heading {
  margin-top: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .phrase {
    font-size: 60px;
    font-weight: 600;
  }

  .phrasesWrapper {
    position: relative;

    .offset {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
    }

    .phrase {
      white-space: nowrap;
      color: red;
    }
  }
}

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .grid {
    display: grid;
    grid-template-columns: repeat(7, 252px);

    .column {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .item {
        width: 236px;
        height: 350px;
        background-color: $red;
        border-radius: 10px;

        &:not(:first-child) {
          margin-top: 10px;
        }
      }
    }

    .column:nth-child(1) {
      margin-top: 0;
    }

    .column:nth-child(2) {
      margin-top: 160px;
    }

    .column:nth-child(3) {
      margin-top: 320px;
    }

    .column:nth-child(4) {
      margin-top: 480px;
    }

    .column:nth-child(5) {
      margin-top: 320px;
    }

    .column:nth-child(6) {
      margin-top: 160px;
    }

    .column:nth-child(7) {
      margin-top: 0;
    }
  }
}
